<a href="https://colab.research.google.com/github/AndreaHernandez5072/CienciaDatos/blob/main/HousePriceEstimator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv("train.csv")
df.isnull().sum()

id               0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18371 entries, 0 to 18370
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             18371 non-null  int64
 1   price          18371 non-null  float64
 2   bedrooms       18371 non-null  int64
 3   bathrooms      18371 non-null  float64
 4   sqft_living    18371 non-null  int64
 5   sqft_lot       18371 non-null  int64
 6   floors         18371 non-null  float64
 7   waterfront     18371 non-null  int64
 8   view           18371 non-null  object
 9   condition      18371 non-null  object
 10  grade          18371 non-null  int64
 11  sqft_above     18371 non-null  int64
 12  sqft_basement  18371 non-null  int64
 13  yr_built       18371 non-null  int64
 14  yr_renovated   18371 non-null  int64
 15  zipcode        18371 non-null  int64
 16  lat            18371 non-null  float64
 17  long           18371 non-null  float64
 18  sqft_living15  18371 non-null  int64
 19  sqft_lot15     18371 non-null  int64
dtypes: float64(5), int64(13), object(2)
memory usage: 2.8+ MB

Los datos a tratar son view y object.

**View** tiene categorias bad (0), regular(1), good(2) y great(3).

**condition** tiene categoria bad(0), regular(1), acceptable(2), good(3), excelent(5)

In [22]:
viewDescription = {
    "bad":0,
    "regular":1,
    "good":2,
    "great":3
}

conditionDescription ={
    "bad":0,
    "regular":1,
    "acceptable":2,
    "good":3,
    "excelent":5
}