<a href="https://colab.research.google.com/github/AndreaHernandez5072/CienciaDatos/blob/main/HousePriceEstimator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import classification_report,confusion_matrix, f1_score,r2_score,mean_squared_error,mean_absolute_error
from sklearn.preprocessing import PolynomialFeatures
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import LinearSVC
from sklearn.multiclass import OneVsOneClassifier
from sklearn.multiclass import OneVsRestClassifier

# Cargando la data

In [61]:
df = pd.read_csv("train.csv")
dfe=pd.read_csv("Evaluation.csv")

In [88]:
df.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,16935,335000.0,2.0,1.75,1060.0,1202.0,2.0,0.0,1.0,3.0,7.0,760.0,300.0,2003,0.0,98136,47.5426,-122.388,1060.0,1493.0
1,499,437500.0,3.0,2.50,2120.0,4500.0,2.0,0.0,1.0,3.0,7.0,2120.0,0.0,2000,0.0,98065,47.5322,-121.880,2530.0,4816.0
2,14192,1005000.0,3.0,2.50,2570.0,5000.0,1.0,0.0,1.0,4.0,8.0,1480.0,1090.0,1940,0.0,98105,47.6578,-122.285,2420.0,5484.0
3,5666,1129050.0,3.0,2.50,2850.0,19077.5,1.5,0.0,1.0,3.0,9.5,1790.0,1060.0,1978,0.0,98008,47.5894,-122.111,2850.0,17540.0
4,11015,186000.0,3.0,1.75,1460.0,7967.0,1.0,0.0,1.0,3.0,7.0,1040.0,420.0,1977,0.0,98023,47.3199,-122.374,1460.0,6835.0

In [89]:
dfe.head()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,14697,4.0,2.50,2700.0,8810.0,2.0,0.0,1.0,3.0,9.0,2700.0,0.0,2004,0.0,98052,47.7041,-122.116,2730.0,5100.0
1,1217,5.0,3.25,4110.0,7920.0,2.0,0.0,1.0,3.0,9.0,3150.0,960.0,1921,0.0,98122,47.6170,-122.282,3684.0,7800.0
2,10447,3.0,2.00,2500.0,4080.0,1.5,0.0,1.0,5.0,7.0,1680.0,820.0,1922,0.0,98103,47.6813,-122.346,1550.0,3060.0
3,18727,2.0,0.75,900.0,3527.0,1.0,0.0,1.0,3.0,6.0,900.0,0.0,1939,0.0,98146,47.5083,-122.336,1220.0,4080.0
4,10207,3.0,2.00,2210.0,6387.0,1.0,0.0,1.0,3.0,8.0,2210.0,0.0,2003,0.0,98003,47.2650,-122.302,2570.0,6497.0

# Identificando valores nulos

In [62]:
def display_missing_value(df):
    for col in df.columns.tolist():
        print('{} column missing values: {}'.format(col, df[col].isnull().sum()),'. (',(df[col].isnull().sum()/df.shape[0])*100,'%)')
    print('\n')

In [63]:
display_missing_value(df)

id column missing values: 0 . ( 0.0 %)
price column missing values: 0 . ( 0.0 %)
bedrooms column missing values: 0 . ( 0.0 %)
bathrooms column missing values: 0 . ( 0.0 %)
sqft_living column missing values: 0 . ( 0.0 %)
sqft_lot column missing values: 0 . ( 0.0 %)
floors column missing values: 0 . ( 0.0 %)
waterfront column missing values: 0 . ( 0.0 %)
view column missing values: 0 . ( 0.0 %)
condition column missing values: 0 . ( 0.0 %)
grade column missing values: 0 . ( 0.0 %)
sqft_above column missing values: 0 . ( 0.0 %)
sqft_basement column missing values: 0 . ( 0.0 %)
yr_built column missing values: 0 . ( 0.0 %)
yr_renovated column missing values: 0 . ( 0.0 %)
zipcode column missing values: 0 . ( 0.0 %)
lat column missing values: 0 . ( 0.0 %)
long column missing values: 0 . ( 0.0 %)
sqft_living15 column missing values: 0 . ( 0.0 %)
sqft_lot15 column missing values: 0 . ( 0.0 %)

In [64]:
display_missing_value(dfe)

id column missing values: 0 . ( 0.0 %)
bedrooms column missing values: 0 . ( 0.0 %)
bathrooms column missing values: 0 . ( 0.0 %)
sqft_living column missing values: 0 . ( 0.0 %)
sqft_lot column missing values: 0 . ( 0.0 %)
floors column missing values: 0 . ( 0.0 %)
waterfront column missing values: 0 . ( 0.0 %)
view column missing values: 0 . ( 0.0 %)
condition column missing values: 0 . ( 0.0 %)
grade column missing values: 0 . ( 0.0 %)
sqft_above column missing values: 0 . ( 0.0 %)
sqft_basement column missing values: 0 . ( 0.0 %)
yr_built column missing values: 0 . ( 0.0 %)
yr_renovated column missing values: 0 . ( 0.0 %)
zipcode column missing values: 0 . ( 0.0 %)
lat column missing values: 0 . ( 0.0 %)
long column missing values: 0 . ( 0.0 %)
sqft_living15 column missing values: 0 . ( 0.0 %)
sqft_lot15 column missing values: 0 . ( 0.0 %)

En este caso, no hay campos nulos

# Explorando la data

In [65]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,18371.000000,1.837100e+04,18371.000000,18371.000000,18371.000000,1.837100e+04,18371.000000,18371.000000,18371.000000,18371.000000,18371.000000,18371.000000,18371.000000,18371.000000,18371.000000,18371.000000,18371.000000,18371.000000
mean,10834.771433,5.399958e+05,3.368243,2.113385,2079.628055,1.510525e+04,1.494666,0.007294,7.659844,1786.855207,292.772849,1970.971586,85.514398,98078.080344,47.560525,-122.214107,1985.357629,12712.953024
std,6237.186244,3.646536e+05,0.934019,0.769465,917.994443,4.215087e+04,0.540669,0.085096,1.177113,828.180612,442.699016,29.383190,404.236968,53.407807,0.138310,0.140878,685.955695,27257.274694
min,0.000000,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,460.000000,651.000000
25%,5434.000000,3.223000e+05,3.000000,1.500000,1420.000000,5.037500e+03,1.000000,0.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.472400,-122.329000,1480.000000,5100.000000
50%,10875.000000,4.500000e+05,3.000000,2.250000,1910.000000,7.614000e+03,1.500000,0.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.572000,-122.231000,1830.000000,7620.000000
75%,16222.500000,6.450000e+05,4.000000,2.500000,2550.000000,1.065350e+04,2.000000,0.000000,8.000000,2210.000000,570.000000,1997.000000,0.000000,98118.000000,47.678300,-122.124000,2360.000000,10076.000000
max,21612.000000,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [66]:
dfe.describe()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,3242.000000,3242.000000,3242.000000,3242.000000,3242.000000,3242.000000,3242.000000,3242.000000,3242.000000,3242.000000,3242.000000,3242.000000,3242.000000,3242.000000,3242.000000,3242.000000,3242.000000
mean,10642.964837,3.385564,2.122532,2081.439235,15116.697717,1.492289,0.008945,7.640037,1797.091610,284.347625,1971.195250,78.100247,98077.143430,47.557378,-122.212702,1993.323257,13082.964837
std,6249.592818,0.907313,0.774181,921.107089,37016.630589,0.536196,0.094169,1.166080,827.656744,441.871798,29.321734,386.866537,54.054027,0.139985,0.140560,682.250199,27570.589561
min,2.000000,0.000000,0.500000,390.000000,609.000000,1.000000,0.000000,4.000000,390.000000,0.000000,1900.000000,0.000000,98001.000000,47.176400,-122.504000,399.000000,809.000000
25%,5298.250000,3.000000,1.750000,1430.000000,5100.000000,1.000000,0.000000,7.000000,1200.000000,0.000000,1952.000000,0.000000,98031.000000,47.461900,-122.324000,1494.000000,5120.000000
50%,10543.000000,3.000000,2.250000,1920.000000,7645.500000,1.500000,0.000000,7.000000,1580.000000,0.000000,1976.000000,0.000000,98065.000000,47.570200,-122.228000,1860.000000,7635.000000
75%,16098.250000,4.000000,2.500000,2520.000000,10800.000000,2.000000,0.000000,8.000000,2230.000000,540.000000,1997.000000,0.000000,98117.000000,47.676700,-122.127250,2370.000000,10125.000000
max,21605.000000,10.000000,6.500000,10040.000000,623779.000000,3.500000,1.000000,13.000000,7680.000000,2600.000000,2015.000000,2015.000000,98199.000000,47.777100,-121.316000,5790.000000,422967.000000

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18371 entries, 0 to 18370
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             18371 non-null  int64
 1   price          18371 non-null  float64
 2   bedrooms       18371 non-null  int64
 3   bathrooms      18371 non-null  float64
 4   sqft_living    18371 non-null  int64
 5   sqft_lot       18371 non-null  int64
 6   floors         18371 non-null  float64
 7   waterfront     18371 non-null  int64
 8   view           18371 non-null  object
 9   condition      18371 non-null  object
 10  grade          18371 non-null  int64
 11  sqft_above     18371 non-null  int64
 12  sqft_basement  18371 non-null  int64
 13  yr_built       18371 non-null  int64
 14  yr_renovated   18371 non-null  int64
 15  zipcode        18371 non-null  int64
 16  lat            18371 non-null  float64
 17  long           18371 non-null  float64
 18  sqft_living15  18371 non-null  int64
 19  sqft_lot15     18371 non-null  int64
dtypes: float64(5), int64(13), object(2)
memory usage: 2.8+ MB

Los datos a tratar son view y condition.

**View** tiene categorias bad (1), regular(2), good(3) y great(4).

**condition** tiene categoria bad(1), regular(2), acceptable(3), good(4), excelent(5)

In [68]:
dfe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3242 entries, 0 to 3241
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             3242 non-null   int64
 1   bedrooms       3242 non-null   int64
 2   bathrooms      3242 non-null   float64
 3   sqft_living    3242 non-null   int64
 4   sqft_lot       3242 non-null   int64
 5   floors         3242 non-null   float64
 6   waterfront     3242 non-null   int64
 7   view           3242 non-null   object
 8   condition      3242 non-null   object
 9   grade          3242 non-null   int64
 10  sqft_above     3242 non-null   int64
 11  sqft_basement  3242 non-null   int64
 12  yr_built       3242 non-null   int64
 13  yr_renovated   3242 non-null   int64
 14  zipcode        3242 non-null   int64
 15  lat            3242 non-null   float64
 16  long           3242 non-null   float64
 17  sqft_living15  3242 non-null   int64
 18  sqft_lot15     3242 non-null   int64
dtypes: float64(4), int64(13), object(2)
memory usage: 481.4+ KB

# Encoding variables categoricas

In [69]:
print("-"*40)
print("Train:\n")
print(df["view"].unique())
print("-"*40)
print("Evaluation:\n")
print(dfe["view"].unique())

----------------------------------------
Train:

['bad' 'fantastic' 'good' 'great' 'regular']
----------------------------------------
Evaluation:

['bad' 'great' 'regular' 'good' 'fantastic']

In [70]:
print("-"*40)
print("Train:\n")
print(df["condition"].unique())
print("-"*40)
print("Evaluation:\n")
print(dfe["condition"].unique())

----------------------------------------
Train:

['acceptable' 'good' 'excellent' 'regular' 'bad']
----------------------------------------
Evaluation:

['acceptable' 'excellent' 'good' 'regular' 'bad']

In [71]:
reemplazoCategorias={
    "view": {"bad":1,"regular":2,"good":3,"great":4,"fantastic":5},
    "condition": {"bad":1,"regular":2,"acceptable":3,"good":4,"excellent":5}
}

df = df.replace(reemplazoCategorias)
dfe = dfe.replace(reemplazoCategorias)

In [72]:
print("-"*80)
print("Train:\n")
print(df.info())
print("-"*80)
print("Evaluation:\n")
print(dfe.info())

--------------------------------------------------------------------------------
Train:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18371 entries, 0 to 18370
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             18371 non-null  int64
 1   price          18371 non-null  float64
 2   bedrooms       18371 non-null  int64
 3   bathrooms      18371 non-null  float64
 4   sqft_living    18371 non-null  int64
 5   sqft_lot       18371 non-null  int64
 6   floors         18371 non-null  float64
 7   waterfront     18371 non-null  int64
 8   view           18371 non-null  int64
 9   condition      18371 non-null  int64
 10  grade          18371 non-null  int64
 11  sqft_above     18371 non-null  int64
 12  sqft_basement  18371 non-null  int64
 13  yr_built       18371 non-null  int64
 14  yr_renovated   18371 non-null  int64
 15  zipcode        18371 non-null  int64
 16  lat            18371 non-null  float64
 17  long           18371 non-null  float64
 18  sqft_living15  18371 non-null  int64
 19  sqft_lot15     18371 non-null  int64
dtypes: float64(5), int64(15)
memory usage: 2.8 MB
None
--------------------------------------------------------------------------------
Evaluation:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3242 entries, 0 to 3241
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             3242 non-null   int64
 1   bedrooms       3242 non-null   int64
 2   bathrooms      3242 non-null   float64
 3   sqft_living    3242 non-null   int64
 4   sqft_lot       3242 non-null   int64
 5   floors         3242 non-null   float64
 6   waterfront     3242 non-null   int64
 7   view           3242 non-null   int64
 8   condition      3242 non-null   int64
 9   grade          3242 non-null   int64
 10  sqft_above     3242 non-null   int64
 11  sqft_basement  3242 non-null   int64
 12  yr_built       3242 non-null   int64
 13  yr_renovated   3242 non-null   int64
 14  zipcode        3242 non-null   int64
 15  lat            3242 non-null   float64
 16  long           3242 non-null   float64
 17  sqft_living15  3242 non-null   int64
 18  sqft_lot15     3242 non-null   int64
dtypes: float64(4), int64(15)
memory usage: 481.4 KB
None

In [73]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,18371.000000,1.837100e+04,18371.000000,18371.000000,18371.000000,1.837100e+04,18371.000000,18371.000000,18371.000000,18371.000000,18371.000000,18371.000000,18371.000000,18371.000000,18371.000000,18371.000000,18371.000000,18371.000000,18371.000000,18371.000000
mean,10834.771433,5.399958e+05,3.368243,2.113385,2079.628055,1.510525e+04,1.494666,0.007294,1.233520,3.411409,7.659844,1786.855207,292.772849,1970.971586,85.514398,98078.080344,47.560525,-122.214107,1985.357629,12712.953024
std,6237.186244,3.646536e+05,0.934019,0.769465,917.994443,4.215087e+04,0.540669,0.085096,0.765271,0.653810,1.177113,828.180612,442.699016,29.383190,404.236968,53.407807,0.138310,0.140878,685.955695,27257.274694
min,0.000000,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,1.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,460.000000,651.000000
25%,5434.000000,3.223000e+05,3.000000,1.500000,1420.000000,5.037500e+03,1.000000,0.000000,1.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.472400,-122.329000,1480.000000,5100.000000
50%,10875.000000,4.500000e+05,3.000000,2.250000,1910.000000,7.614000e+03,1.500000,0.000000,1.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.572000,-122.231000,1830.000000,7620.000000
75%,16222.500000,6.450000e+05,4.000000,2.500000,2550.000000,1.065350e+04,2.000000,0.000000,1.000000,4.000000,8.000000,2210.000000,570.000000,1997.000000,0.000000,98118.000000,47.678300,-122.124000,2360.000000,10076.000000
max,21612.000000,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,5.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

# Outliers

In [74]:
def CuantificaOutliers (dataset):
  for col in dataset.columns:
    q1, q3 = np.percentile(dataset[col], [25, 75])
    iqr = q3 - q1
    lower_bound = q1 - (1.5 * iqr)
    upper_bound = q3 + (1.5 * iqr)
    outlier = dataset[(dataset[col] < lower_bound)
                  | (dataset[col] > upper_bound)]
    print(col,":  (",outlier.shape[0]," / ",dataset.shape[0]," )  ",(outlier.shape[0] /  dataset.shape[0])*100,"%")

In [75]:
CuantificaOutliers(df)

id :  ( 0  /  18371  )   0.0 %
price :  ( 966  /  18371  )   5.258287518371346 %
bedrooms :  ( 466  /  18371  )   2.5366066082412497 %
bathrooms :  ( 222  /  18371  )   1.2084263240977628 %
sqft_living :  ( 482  /  18371  )   2.623700397365413 %
sqft_lot :  ( 2063  /  18371  )   11.229655435196777 %
floors :  ( 0  /  18371  )   0.0 %
waterfront :  ( 134  /  18371  )   0.7294104839148658 %
view :  ( 1801  /  18371  )   9.803494638288607 %
condition :  ( 29  /  18371  )   0.15785749278754557 %
grade :  ( 1639  /  18371  )   8.921670023406456 %
sqft_above :  ( 511  /  18371  )   2.7815578901529583 %
sqft_basement :  ( 397  /  18371  )   2.1610146426432966 %
yr_built :  ( 0  /  18371  )   0.0 %
yr_renovated :  ( 787  /  18371  )   4.283925752544772 %
zipcode :  ( 0  /  18371  )   0.0 %
lat :  ( 3  /  18371  )   0.016330085460780578 %
long :  ( 214  /  18371  )   1.1648794295356812 %
sqft_living15 :  ( 447  /  18371  )   2.4331827336563063 %
sqft_lot15 :  ( 1869  /  18371  )   10.173643242066301 %

In [76]:
CuantificaOutliers(dfe)

id :  ( 0  /  3242  )   0.0 %
bedrooms :  ( 80  /  3242  )   2.4676125848241828 %
bathrooms :  ( 91  /  3242  )   2.8069093152375078 %
sqft_living :  ( 91  /  3242  )   2.8069093152375078 %
sqft_lot :  ( 368  /  3242  )   11.35101789019124 %
floors :  ( 0  /  3242  )   0.0 %
waterfront :  ( 29  /  3242  )   0.8945095619987662 %
view :  ( 323  /  3242  )   9.962985811227638 %
condition :  ( 1  /  3242  )   0.030845157310302282 %
grade :  ( 272  /  3242  )   8.389882788402222 %
sqft_above :  ( 99  /  3242  )   3.053670573719926 %
sqft_basement :  ( 91  /  3242  )   2.8069093152375078 %
yr_built :  ( 0  /  3242  )   0.0 %
yr_renovated :  ( 127  /  3242  )   3.9173349784083897 %
zipcode :  ( 0  /  3242  )   0.0 %
lat :  ( 0  /  3242  )   0.0 %
long :  ( 41  /  3242  )   1.2646514497223937 %
sqft_living15 :  ( 74  /  3242  )   2.282541640962369 %
sqft_lot15 :  ( 325  /  3242  )   10.024676125848242 %

Tratando los outliers

In [77]:
def ModificaOutliers (dataset,cols):
  for col in cols:
    q1, q3 = np.percentile(dataset[col], [25, 75])
    iqr = q3 - q1
    lower_bound = q1 - (1.5 * iqr)
    upper_bound = q3 + (1.5 * iqr)
    dataset[col]=np.where(dataset[col]>upper_bound,upper_bound,np.where(dataset[col]<lower_bound,lower_bound,dataset[col]))
  return dataset

In [78]:
df = ModificaOutliers(df,(["price","bedrooms","bathrooms","sqft_living","sqft_lot","waterfront","view","condition","grade","sqft_above","sqft_basement","yr_renovated","lat","long","sqft_living15","sqft_lot15"]))

In [79]:
dfe = ModificaOutliers(dfe,(["bedrooms","bathrooms","sqft_living","sqft_lot","floors","waterfront","view","condition","grade","sqft_above","sqft_basement","yr_renovated","long","sqft_living15","sqft_lot15","long"]))

In [80]:
CuantificaOutliers(df)

id :  ( 0  /  18371  )   0.0 %
price :  ( 0  /  18371  )   0.0 %
bedrooms :  ( 0  /  18371  )   0.0 %
bathrooms :  ( 0  /  18371  )   0.0 %
sqft_living :  ( 0  /  18371  )   0.0 %
sqft_lot :  ( 0  /  18371  )   0.0 %
floors :  ( 0  /  18371  )   0.0 %
waterfront :  ( 0  /  18371  )   0.0 %
view :  ( 0  /  18371  )   0.0 %
condition :  ( 0  /  18371  )   0.0 %
grade :  ( 0  /  18371  )   0.0 %
sqft_above :  ( 0  /  18371  )   0.0 %
sqft_basement :  ( 0  /  18371  )   0.0 %
yr_built :  ( 0  /  18371  )   0.0 %
yr_renovated :  ( 0  /  18371  )   0.0 %
zipcode :  ( 0  /  18371  )   0.0 %
lat :  ( 0  /  18371  )   0.0 %
long :  ( 0  /  18371  )   0.0 %
sqft_living15 :  ( 0  /  18371  )   0.0 %
sqft_lot15 :  ( 0  /  18371  )   0.0 %

In [81]:
CuantificaOutliers(dfe)

id :  ( 0  /  3242  )   0.0 %
bedrooms :  ( 0  /  3242  )   0.0 %
bathrooms :  ( 0  /  3242  )   0.0 %
sqft_living :  ( 0  /  3242  )   0.0 %
sqft_lot :  ( 0  /  3242  )   0.0 %
floors :  ( 0  /  3242  )   0.0 %
waterfront :  ( 0  /  3242  )   0.0 %
view :  ( 0  /  3242  )   0.0 %
condition :  ( 0  /  3242  )   0.0 %
grade :  ( 0  /  3242  )   0.0 %
sqft_above :  ( 0  /  3242  )   0.0 %
sqft_basement :  ( 0  /  3242  )   0.0 %
yr_built :  ( 0  /  3242  )   0.0 %
yr_renovated :  ( 0  /  3242  )   0.0 %
zipcode :  ( 0  /  3242  )   0.0 %
lat :  ( 0  /  3242  )   0.0 %
long :  ( 0  /  3242  )   0.0 %
sqft_living15 :  ( 0  /  3242  )   0.0 %
sqft_lot15 :  ( 0  /  3242  )   0.0 %

# Normalizando los datos

In [82]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,18371.000000,1.837100e+04,18371.000000,18371.000000,18371.000000,18371.000000,18371.000000,18371.0,18371.0,18371.000000,18371.000000,18371.00000,18371.000000,18371.000000,18371.0,18371.000000,18371.000000,18371.000000,18371.000000,18371.000000
mean,10834.771433,5.118084e+05,3.360623,2.105084,2058.514234,8686.686381,1.494666,0.0,1.0,3.412199,7.600920,1768.14844,286.080725,1970.971586,0.0,98078.080344,47.560525,-122.215059,1974.392630,8286.650699
std,6237.186244,2.498699e+05,0.855396,0.741712,841.068560,5023.706709,0.540669,0.0,0.0,0.651194,1.001846,764.51211,419.279394,29.383190,0.0,53.407807,0.138308,0.137459,650.976863,4363.992112
min,0.000000,7.500000e+04,1.500000,0.000000,290.000000,520.000000,1.000000,0.0,1.0,1.500000,5.500000,290.00000,0.000000,1900.000000,0.0,98001.000000,47.163550,-122.519000,460.000000,651.000000
25%,5434.000000,3.223000e+05,3.000000,1.500000,1420.000000,5037.500000,1.000000,0.0,1.0,3.000000,7.000000,1190.00000,0.000000,1951.000000,0.0,98033.000000,47.472400,-122.329000,1480.000000,5100.000000
50%,10875.000000,4.500000e+05,3.000000,2.250000,1910.000000,7614.000000,1.500000,0.0,1.0,3.000000,7.000000,1560.00000,0.000000,1975.000000,0.0,98065.000000,47.572000,-122.231000,1830.000000,7620.000000
75%,16222.500000,6.450000e+05,4.000000,2.500000,2550.000000,10653.500000,2.000000,0.0,1.0,4.000000,8.000000,2210.00000,570.000000,1997.000000,0.0,98118.000000,47.678300,-122.124000,2360.000000,10076.000000
max,21612.000000,1.129050e+06,5.500000,4.000000,4245.000000,19077.500000,3.500000,0.0,1.0,5.000000,9.500000,3740.00000,1425.000000,2015.000000,0.0,98199.000000,47.777600,-121.816500,3680.000000,17540.000000

In [83]:
dfe.describe()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,3242.000000,3242.000000,3242.000000,3242.000000,3242.000000,3242.000000,3242.0,3242.0,3242.000000,3242.000000,3242.000000,3242.000000,3242.000000,3242.0,3242.000000,3242.000000,3242.000000,3242.000000,3242.000000
mean,10642.964837,3.375077,2.102984,2055.039482,8779.574028,1.492289,0.0,1.0,3.398365,7.585441,1778.653917,274.429981,1971.195250,0.0,98077.143430,47.557378,-122.213931,1981.772671,8360.786706
std,6249.592818,0.846778,0.717457,827.997506,5112.112508,0.536196,0.0,0.0,0.632544,0.997812,764.146095,409.559588,29.321734,0.0,54.054027,0.139985,0.136160,644.568148,4355.386306
min,2.000000,1.500000,0.625000,390.000000,609.000000,1.000000,0.0,1.0,1.500000,5.500000,390.000000,0.000000,1900.000000,0.0,98001.000000,47.176400,-122.504000,399.000000,809.000000
25%,5298.250000,3.000000,1.750000,1430.000000,5100.000000,1.000000,0.0,1.0,3.000000,7.000000,1200.000000,0.000000,1952.000000,0.0,98031.000000,47.461900,-122.324000,1494.000000,5120.000000
50%,10543.000000,3.000000,2.250000,1920.000000,7645.500000,1.500000,0.0,1.0,3.000000,7.000000,1580.000000,0.000000,1976.000000,0.0,98065.000000,47.570200,-122.228000,1860.000000,7635.000000
75%,16098.250000,4.000000,2.500000,2520.000000,10800.000000,2.000000,0.0,1.0,4.000000,8.000000,2230.000000,540.000000,1997.000000,0.0,98117.000000,47.676700,-122.127250,2370.000000,10125.000000
max,21605.000000,5.500000,3.625000,4155.000000,19350.000000,3.500000,0.0,1.0,5.000000,9.500000,3775.000000,1350.000000,2015.000000,0.0,98199.000000,47.777100,-121.832125,3684.000000,17632.500000

In [84]:
corr = df.corr(method = 'pearson')
corr

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,1.000000,0.037640,0.010911,0.113974,0.048092,-0.123649,0.180605,NaN,NaN,-0.096561,0.091072,0.076396,-0.041927,0.201057,NaN,-0.001385,0.000647,0.009330,0.026603,-0.121054
price,0.037640,1.000000,0.352236,0.535655,0.702783,0.170577,0.302257,NaN,NaN,0.041596,0.688412,0.603317,0.295774,0.066642,NaN,-0.038771,0.404529,0.049083,0.627821,0.163917
bedrooms,0.010911,0.352236,1.000000,0.530015,0.616968,0.198774,0.186925,NaN,NaN,0.027724,0.376837,0.509951,0.303297,0.169860,NaN,-0.162292,-0.012754,0.151565,0.422364,0.187254
bathrooms,0.113974,0.535655,0.530015,1.000000,0.749487,0.115660,0.510442,NaN,NaN,-0.122525,0.665414,0.677070,0.262459,0.517348,NaN,-0.209484,0.027211,0.237875,0.572137,0.108608
sqft_living,0.048092,0.702783,0.616968,0.749487,1.000000,0.348823,0.365784,NaN,NaN,-0.055296,0.744103,0.868705,0.401471,0.333203,NaN,-0.204860,0.055546,0.261093,0.765636,0.333837
sqft_lot,-0.123649,0.170577,0.198774,0.115660,0.348823,1.000000,-0.192549,NaN,NaN,0.072498,0.200934,0.319618,0.103276,0.037999,NaN,-0.285133,-0.120894,0.352118,0.391180,0.911838
floors,0.180605,0.302257,0.186925,0.510442,0.365784,-0.192549,1.000000,NaN,NaN,-0.263942,0.478461,0.544203,-0.254780,0.487229,NaN,-0.057209,0.051787,0.125464,0.282765,-0.195742
waterfront,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
view,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
condition,-0.096561,0.041596,0.027724,-0.122525,-0.055296,0.072498,-0.263942,NaN,NaN,1.000000,-0.149565,-0.161111,0.183383,-0.358234,NaN,-0.002941,-0.016838,-0.103527,-0.088741,0.079176
grade,0.091072,0.688412,0.376837,0.665414,0.744103,0.200934,0.478461,NaN,NaN,-0.149565,1.000000,0.737882,0.135600,0.470096,NaN,-0.190629,0.115044,0.213744,0.698591,0.205282
sqft_above,0.076396,0.603317,0.509951,0.677070,0.868705,0.319618,0.544203,NaN,NaN,-0.161111,0.737882,1.000000,-0.091245,0.441324,NaN,-0.269130,-0.004376,0.365510,0.734394,0.309855
sqft_basement,-0.041927,0.295774,0.303297,0.262459,0.401471,0.103276,-0.254780,NaN,NaN,0.183383,0.135600,-0.091245,1.000000,-0.144198,NaN,0.084091,0.117317,-0.151512,0.183303,0.091389
yr_built,0.201057,0.066642,0.169860,0.517348,0.333203,0.037999,0.487229,NaN,NaN,-0.358234,0.470096,0.441324,-0.144198,1.000000,NaN,-0.348938,-0.145774,0.417456,0.332426,0.057117
yr_renovated,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zipcode,-0.001385,-0.038771,-0.162292,-0.209484,-0.204860,-0.285133,-0.057209,NaN,NaN,-0.002941,-0.190629,-0.269130,0.084091,-0.348938,NaN,1.000000,0.267936,-0.575591,-0.281319,-0.296915
lat,0.000647,0.404529,-0.012754,0.027211,0.055546,-0.120894,0.051787,NaN,NaN,-0.016838,0.115044,-0.004376,0.117317,-0.145774,NaN,0.267936,1.000000,-0.136603,0.050405,-0.119072
long,0.009330,0.049083,0.151565,0.237875,0.261093,0.352118,0.125464,NaN,NaN,-0.103527,0.213744,0.365510,-0.151512,0.417456,NaN,-0.575591,-0.136603,1.000000,0.351543,0.363363
sqft_living15,0.026603,0.627821,0.422364,0.572137,0.765636,0.391180,0.282765,NaN,NaN,-0.088741,0.698591,0.734394,0.183303,0.332426,NaN,-0.281319,0.050405,0.351543,1.000000,0.405681
sqft_lot15,-0.121054,0.163917,0.187254,0.108608,0.333837,0.911838,-0.195742,NaN,NaN,0.079176,0.205282,0.309855,0.091389,0.057117,NaN,-0.296915,-0.119072,0.363363,0.405681,1.000000

In [85]:
corr = dfe.corr(method = 'pearson')
corr

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,1.000000,0.009493,0.088570,0.049251,-0.086929,0.170736,NaN,NaN,-0.091896,0.087274,0.078213,-0.044551,0.191290,NaN,-0.007203,0.000407,0.007094,0.018991,-0.087508
bedrooms,0.009493,1.000000,0.529595,0.619926,0.169445,0.170316,NaN,NaN,0.000627,0.377082,0.512427,0.303411,0.173747,NaN,-0.184817,-0.029086,0.154259,0.422619,0.163413
bathrooms,0.088570,0.529595,1.000000,0.749677,0.110865,0.510815,NaN,NaN,-0.160540,0.648884,0.673175,0.263983,0.534558,NaN,-0.200771,-0.005825,0.231850,0.554377,0.109434
sqft_living,0.049251,0.619926,0.749677,1.000000,0.347139,0.353299,NaN,NaN,-0.089907,0.738368,0.870438,0.391971,0.335619,NaN,-0.215169,0.027224,0.255993,0.754488,0.340985
sqft_lot,-0.086929,0.169445,0.110865,0.347139,1.000000,-0.193924,NaN,NaN,0.041781,0.203066,0.325975,0.080649,0.026865,NaN,-0.295009,-0.118932,0.363898,0.392184,0.905713
floors,0.170736,0.170316,0.510815,0.353299,-0.193924,1.000000,NaN,NaN,-0.274090,0.472827,0.532182,-0.264855,0.501346,NaN,-0.069999,0.037311,0.144681,0.279762,-0.194270
waterfront,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
view,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
condition,-0.091896,0.000627,-0.160540,-0.089907,0.041781,-0.274090,NaN,NaN,1.000000,-0.172003,-0.184893,0.160861,-0.398735,NaN,0.039149,-0.003872,-0.131930,-0.116689,0.058889
grade,0.087274,0.377082,0.648884,0.738368,0.203066,0.472827,NaN,NaN,-0.172003,1.000000,0.723958,0.143581,0.476293,NaN,-0.196376,0.096230,0.218701,0.697548,0.221540
sqft_above,0.078213,0.512427,0.673175,0.870438,0.325975,0.532182,NaN,NaN,-0.184893,0.723958,1.000000,-0.095083,0.439962,NaN,-0.284084,-0.017680,0.373897,0.733257,0.322721
sqft_basement,-0.044551,0.303411,0.263983,0.391971,0.080649,-0.264855,NaN,NaN,0.160861,0.143581,-0.095083,1.000000,-0.145067,NaN,0.094989,0.097807,-0.188652,0.156799,0.076578
yr_built,0.191290,0.173747,0.534558,0.335619,0.026865,0.501346,NaN,NaN,-0.398735,0.476293,0.439962,-0.145067,1.000000,NaN,-0.335231,-0.161215,0.418814,0.325973,0.057620
yr_renovated,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zipcode,-0.007203,-0.184817,-0.200771,-0.215169,-0.295009,-0.069999,NaN,NaN,0.039149,-0.196376,-0.284084,0.094989,-0.335231,NaN,1.000000,0.261885,-0.558150,-0.296081,-0.305879
lat,0.000407,-0.029086,-0.005825,0.027224,-0.118932,0.037311,NaN,NaN,-0.003872,0.096230,-0.017680,0.097807,-0.161215,NaN,0.261885,1.000000,-0.150744,0.036201,-0.123041
long,0.007094,0.154259,0.231850,0.255993,0.363898,0.144681,NaN,NaN,-0.131930,0.218701,0.373897,-0.188652,0.418814,NaN,-0.558150,-0.150744,1.000000,0.348105,0.373748
sqft_living15,0.018991,0.422619,0.554377,0.754488,0.392184,0.279762,NaN,NaN,-0.116689,0.697548,0.733257,0.156799,0.325973,NaN,-0.296081,0.036201,0.348105,1.000000,0.411556
sqft_lot15,-0.087508,0.163413,0.109434,0.340985,0.905713,-0.194270,NaN,NaN,0.058889,0.221540,0.322721,0.076578,0.057620,NaN,-0.305879,-0.123041,0.373748,0.411556,1.000000

In [86]:
#Usando mtodo de mximo y mnimo
def normalizacionMinMax (dataset,column):
  dataset[column] = (dataset[column] - dataset[column].mean()) / (dataset[column].max() - dataset[column].min())
  return dataset[column]

In [87]:
def normalizacionZScore (dataset,column):
  dataset[column] = (dataset[column] - dataset[column].mean()) / (dataset[column].std())
  return dataset[column]