<a href="https://colab.research.google.com/github/AndreaHernandez5072/CienciaDatos/blob/main/Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Recordatorio**: todos los archivos cargados en Colab, eliminan después de su tiempo de ejecución.


---

# Sobreviviendo al Titanic
Andrea Marleny Hernández Contreras, 1203718

In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sb

In [ ]:
ds = pd.read_csv('data_titanic_proyecto.csv')
#Determinar las medidas del dataset
ds.shape
#Determinar el tipo de cada dato maneja
ds.dtypes

# 1. Encontrar valores faltantes

In [28]:
def findingmissingValues(dataset):
  for column in dataset:
    #En x almacena la cantidad de valores nulos que tiene esa columna
    x = dataset[column].isna().sum()
    #mostrar nombre de columna, cantidad de datos nulos en cada columna seguido del porcentaje que representa esos datos
    print(f"{column} : {str(x)} ( {(x/(ds.shape[0]))*100} %)")


def GeneralStatistics(dataset,columna):
    #creo un vector
    dimension = dataset[columna]
    mean = np.mean(dimension)
    median = np.median(dimension)
    valmax = np.max(dimension)
    valmin = np.min(dimension)
    desvstd = np.std(dimension)
    rango = np.ptp(dimension)
    print("="*60)
    print("Valores estadísticos")
    print("="*60)
    print("dimension: ",dimension)
    print("media: ", mean)
    print("mediana: ", median)
    print("Valor máximo: ",valmax)
    print("Valor mínimo: ",valmin)
    print("desviación estandar: ",desvstd)
    print("rango", rango)

In [30]:
#Agregar caracteristicas al dataset
#Asimismo en datos aparece que iba solo, agrega 1
ds["Familysize"] = ds["SibSp"] + ds["Parch"] + 1
#Crear un campo para ver si iba solo, inicializamos en cero
ds["IsAlone"] = 0
#Agrega campos a IsAlone al usar función loc para traer las columnas y filas
#Indicamos trae todos los datos donde FamilySize es 1 y superponelo en IsAlone el campo 1
ds.loc[ds["Familysize"]==1,"IsAlone"]=1
ds

,PassengerId,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger_class,passenger_sex,passenger_survived,Familysize,IsAlone
0,8400,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,S,Lower,M,N,2,0
1,7009,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,C,Upper,F,Y,2,0
2,3622,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Lower,F,Y,1,1
3,5596,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,S,Upper,F,Y,2,0
4,8403,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,S,Lower,M,N,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
779,3282,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",43.0,0,1,24160,211.3375,B3,S,Upper,F,Y,2,0
780,2952,"Ayoub, Miss. Banoura",13.0,0,0,2687,7.2292,NaN,C,Lower,F,Y,1,1
781,3904,"Dick, Mrs. Albert Adrian (Vera Gillespie)",17.0,1,0,17474,57.0000,B20,S,Upper,F,Y,2,0
782,10126,"Long, Mr. Milton Clyde",29.0,0,0,113501,30.0000,D6,S,Upper,M,N,1,1
783,6304,"Johnston, Mr. Andrew G",NaN,1,2,W./C. 6607,23.4500,NaN,S,Lower,M,N,4,0